apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgresql-data
  namespace: {{ .Values.namespace }}
  labels:
    app: postgresql
spec:
  accessModes:
    - ReadWriteOnce
  {{- if .Values.postgresql.storage.storageClassName }}
  storageClassName: {{ .Values.postgresql.storage.storageClassName }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.postgresql.storage.size }}
