apiVersion: v1
kind: Service
metadata:
  name: vote-api
  namespace: {{ .Values.namespace }}
  labels:
    app: vote-api
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: vote-api
